<footer class="footer">
  <div class="footer-holder">
    <div class="footer-frame">
      <div class="top">
        <div class=" holder">
          <div class="music-bar">
            <audio class="projekktor1 speaker dark">
              <!-- <source src="playlist.json" type="application/json"/> -->
            </audio>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class=" holder">
          <section class="grid-holder">
            <section class="grid">
<!--               <article class="column c-one-fifth">
                <div class="box">
                  <h5>blog posts</h5>
                  <p>Morbi a libero eget erat
                    Dec 15, 2012  |  JAMES
                    Morbi a libero eget erat
                    cursus vitae id tortor. </p>
                  <a href="#" class="view-all">view all</a> </div>
              </article> -->
             <!--  <article class="column c-one-fifth">
                <div class="box">
                  <h5>twitter <span class="footer-tweet"><a href="#">follow</a></span></h5>
                  <p> Ut sem lacus, porttitor et
                    eget, iaculis id lacus ipsum. <a href="#" class="view-all">http://is.gd/UuSBXf</a> 8 minutes ago</p>
                </div>
              </article> -->
              <article class="column c-one-fifth">
                <div class="box">
                  <h5>Розклад Богослужінь</h5>
                  <ul class="list">
                    <li>Щосуботи 17:00 </li>
                    <li>Щонеділі 8:30 </li>
                  </ul>
                </div>
              </article>
              <article class="column c-one-fifth">
                <div class="box">
                  <h5>На карті:</h5>
                  <div class="f-map">
                   <div style="width:100%"><iframe width="100%" height="100" src="http://regiohelden.de/google-maps/map_en.php?width=600&amp;height=100&amp;hl=en&amp;q=Wilhelmstra%C3%9Fe%204A%2C%2070182%20Stuttgart+(RegioHelden%20GmbH)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                  </div>
                </div>
              </article>
              <article class="column c-one-fifth">
                <div class="box">
                  <h5>Наша адреса:</h5>
                  <address>
                  <span>Київська обл.,<br/>
                    Вишгородський р-н,<br/>
                    м.Димер,вул.Дніпровська,1</span>
                  </address>
                  <!-- <h5>NEXT EVENT IN:</h5>
                  <span class="time">24 Days : 7 Hrs : 24 Min</span> </div> -->
              </article>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>
</footer>