<div class="gallery-holder slideshow">
  <div class="gallery">
    <div class="gholder"> <a class="btn-prev" href="#">next</a>
      <div class="gmask">
        <ul>
          <li>
            <%= image_tag "img-1.jpg", :alt => "image" %>
            <!-- <img src="images/ /> -->
            <div class="left">
<!--               <div class="banner-caption"><a href="#">Радійте життю</a><span>&nbsp;</span></div>
              <div class="banner-caption caption-1"><a href="#">Усміхайтесь</a><span>&nbsp;</span></div>
 -->            </div>
          </li>
          <li>
            <%= image_tag "banner-img-4.jpg", :alt => "image" %>
            <div class="left">
<!--               <div class="banner-caption"><a href="#"></a><span>&nbsp;</span></div>
              <div class="banner-caption caption-1"><a href="#"></a><span>&nbsp;</span></div> -->
            </div>
          </li>
          <li>
            <%= image_tag "banner-img-5.jpg", :alt => "image" %>
            <div class="left">
<!--               <div class="banner-caption"><a href="#"></a><span>&nbsp;</span></div>
              <div class="banner-caption caption-1"><a href="#"></a><span>&nbsp;</span></div> -->
            </div>
          </li>
        </ul>
      </div>
      <a class="btn-next" href="#">next</a> </div>
    <div class="pagination">
      <ul>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
      </ul>
    </div>
  </div>
  <span class="banner-bottom2">
    <%= image_tag "banner-bottom.png" %>
  </span>
</div>