<header id="header">
  <div class="header-wrapper home">
    <div class="header-holder">
      <div class="nav">
        <ul class="menu menu_blue">
          <li class="active"><%= link_to "Головна", root_path %></li>
          <li class="active"><%= link_to "Категорії фото", admin_gallery_categories_path %></li>
        </ul>
      </div>
    </div>
  </div>
</header>